{% extends "base.html" %}
{% block header_scripts %}
    {% load staticfiles %}
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="{% static "js/compras/detalle.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="{% url 'frontend_home' %}compras/detalle/{{ cabecera_oc.id }}/" method="post" id="form_add_oc" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel panel-info">
                <div class="panel-heading">
                     <h4 class="page-title" style="color:#fff;">ORDEN DE COMPRA</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <label class="col-lg-2">Fecha:</label>
                        <div class="col-lg-4"><input type="date" id="fecha" name="fecha"value="{{ fecha_pedido }}"></div>
                        <label class="col-lg-3">Proveedor:</label>
                        <div class="col-lg-3">
                            <select id="id_proveedor_select" name="id_proveedor_select" class="form-control">
                                 {% if cabecera_oc.proveedor != None %}
                                        <option value="{{ cabecera_oc.proveedor.id }}"
                                                selected> {{ cabecera_oc.proveedor.nombres }}</option>
                                    {% endif %}
                            </select>
                        </div>
                    <br><br>
                        <label class="col-lg-2">Adjuntar Presupuesto:</label>
                        <div class="col-lg-4"><input type="file" id="presupuesto" name="presupuesto"></div>
                        <input id="presupuesto_path" type="hidden" name="presupuesto_path" />
                        <input id="detalle" type="hidden" name="detalle" />
                        <label class="col-lg-3">Estado</label>
                        <input id="estado_cabecera" type="hidden" name="estado_cabecera" value="{{ cabecera_oc.estado }}" />
                        <div class="col-lg-3">
                            <select id="condicion_compra" name="condicion_compra" class="form-control">
                              <option value="PENDIENTE">PENDIENTE</option>
                              <option value="CONFIRMADO">CONFIRMADO</option>
                              <option value="RECHAZADO">RECHAZADO</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                     <h4 class="page-title" style="color:#fff;">Seleccionar items</h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-8">
                        <br>
                        <div class="col-lg-4">
                            <select id="id_producto_agregar" name="id_producto_select_0" class="form-control"></select>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id= "cantidad" placeholder="Cantidad" value="">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-warning agregar" style="height: 30px;"><i
                                    class="glyphicon glyphicon-plus"></i>
                            </button>
                        </span>
                    </div>
                    <br><br><br><br>
                    <div class="detalle_pedido">
                        {% for detalle in detalles_oc %}
                            <div class="item-detalle">
                                <input type="text" class="id_detalle col-xs-2" id="id_detalle" name="id_detalle_item" disabled value="{{ detalle.id }}">
                                <input type="text" class="producto_desc col-xs-4" id="id_producto_select" name="id_producto_select" disabled value="{{ detalle.producto.descripcion }}">
                                <input type="number" class= "cantidad-item item col-xs-2" placeholder="Cantidad" style="left: 5px;" value="{{ detalle.cantidad }}">
                                <input type="text" class= "monto-item item col-xs-2" placeholder="Precio Unit"  style="left: 5px;" value="{{ detalle.monto }}" onkeyup="formatearNumeros(this)" onchange="formatearNumeros(this)">
                                <a href="#" class="btn btn-sm btn-danger rm-btn" style="height: 35px;margin-left: 10px;"><span class="glyphicon glyphicon-minus"></span></a>
                                <br><br>
                            </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
           <div class="-pull-left">
                    <input name="" type="submit" value="Guardar" class="btn btn-primary default"
                           style=" margin-bottom: 10px; cursor: pointer;"/>
                </div>
       </form>
        </div>
    </div>
    </div>
    </div>
     </div>
            <div class="card-footer small text-muted"></div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; Lourdes Escurra </footer>
     </div>
{% endblock %}