<nav>
    <ul class="pagination">
        <li class="page-item {% if filtros.row_per_page == '24' %} active {% endif %}">
            <a class="page-link" href="?page=1&row_per_page=24&search={{ filtros.search }}#search">24</a>
        </li>
        <li class="page-item {% if filtros.row_per_page == '36' %} active {% endif %}">
            <a class="page-link" href="?page=1&row_per_page=36&search={{ filtros.search }}#search">36</a>
        </li>
        <li class="page-item {% if filtros.row_per_page == '48' %} active {% endif %}">
            <a class="page-link" href="?page=1&row_per_page=48&search={{ filtros.search }}#search">48</a>
        </li>
    </ul>
</nav>


