{% extends 'base.html' %}
{% block header_scripts %}
    {% load static %}
    {% load staticfiles %}
        <script src="{% static "js/reportes/reportes.js" %}" type="text/javascript"></script>
        <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
         <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">REPORTE DE COMPRAS POR MES</h4> </div>

                    <!-- /.col-lg-12 -->
                </div>
            </div>
             <div class="row">
                 <div class="col-lg-10">
                     <form action="" method="POST">
                         <div class="row">
                            <div class="col-lg-4">
                                    <!-- <input type="text" name="tipo-visualizacion" value="mostrar"> -->
                                    <select id="tipo-visualizacion" name="tipo-visualizacion" class="form-control"  >
                                        <option value="mostrar">Pantalla</option>
                                        <option value="descargar">Descargar</option>
                                    </select>

                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" type="submit" >Obtener Reporte</button>
                            </div>
                         </div>
                    </form>
                    <input type="hidden" id="reporte-base64" value="{{reporte_pdf}}" >
                    <canvas id="the-canvas"></canvas>
                 </div>
             </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}