{% extends "base.html" %}
{% block header_scripts %}
    {% load staticfiles %}
    <script src="{% static "js/reportes/reportes.js" %}" type="text/javascript"></script>
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>


{% endblock %}
{% block content %}
{% csrf_token %}
    <div id="page-wrapper">
        <div class="container-fluid">
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-lg-8">
                            <label class="form-control">Cliente:</label>
                            <!-- value="{{ filtros.proveedor }}" -->
                            <select id="id_cliente_select" name="cliente_select" class="form-control"  ></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                            <div class="col-lg-4">
                                    <!-- <input type="text" name="tipo-visualizacion" value="mostrar"> -->
                                    <select id="tipo-visualizacion" name="tipo-visualizacion" class="form-control"  >
                                        <option value="mostrar">Pantalla</option>
                                        <option value="descargar">Descargar</option>
                                    </select>
        
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-primary" type="submit" >Obtener Reporte</button>
                            </div>
                    </div>    

                </form>                 
                <!-- <button type="button" class="btn btn-default" onClick="mostrarPDF()">Mostrar reporte</button> -->
                <input type="hidden" id="reporte-base64" value="{{reporte_pdf}}" >
                <!-- <span>{{reporte_pdf}}</span> -->
                <canvas id="the-canvas"></canvas>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2018 &copy; Lourdes Escurra </footer>
    </div>
{% endblock %}        


