{% extends "base.html" %}
{% block header_scripts %}
    {% load staticfiles %}
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="{% static "js/ventas/agregar.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="" method="post" id="form_add_oc" enctype="multipart/form-data">
            <div class="panel panel-info">
                <div class="panel-heading">
                     <h4 class="page-title" style="color:#fff;">AGREGAR PRESUPUESTO</h4>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    <div>
                        <div class="col-md-12">
                            <label class="col-lg-2">Fecha:</label>
                            <div class="col-lg-2"><input type="date" id="fecha" name="fecha"></div>
                            <label class="col-lg-2">Recepcion de Vehiculo:</label>
                            <div class="col-lg-3"><select id="id_recepcion_select" name="id_recepcion_select" class="form-control"></select></div>
                            <input id="detalle" type="hidden" name="detalle" />
                        </div>
                        <br><br>
{#                        <div class="col-md-12">#}
{#                            <div class="col-md-4">#}
{#                                    <label for="prov_client">Cliente:</label>#}
{#                                    <div><input id="id_cliente" disabled></div>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <div class="form-group">#}
{#                                    <label for="marca-modelo">Marca - Modelo:</label>#}
{#                                    <div<<input id="id_marca" disabled></div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                     <h4 class="page-title" style="color:#fff;">Seleccionar items</h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-10">
                        <br>
                        <div class="col-lg-6">
                            <select id="id_producto_agregar" name="id_producto_select_0" class="form-control"></select>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id= "cantidad" placeholder="Cantidad" value="1">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-warning agregar" style="height: 30px;"><i
                                    class="glyphicon glyphicon-plus"></i>
                            </button>
                        </span>
                    </div>
                    <br><br>
                   <div class="detalle_pedido">
                        <br><br>
                   </div>
                </div>
            </div>
           <div class="pull-left">
                    <input name="" type="submit" value="Guardar" class="btn btn-primary default"
                           style=" margin-bottom: 10px; cursor: pointer;"/>
                </div>
       </form>
        </div>
    </div>
    </div>
    </div>
     </div>
            <div class="card-footer small text-muted"></div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 &copy; Lourdes Escurra </footer>
     </div>
{% endblock %}