.wrapper {
	margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
}

.cabecera_pedido{
	margin: 10px;
	padding:8px;
}

.detalle_pedido{
	/*margin: 0px 10px;*/
	/*padding: 10px 0px; margin: 12px; border: 2px solid #CCC; display: inline-block;*/
}

.item-detalle{
	/*margin: 20px 0px;*/
	/*padding: 0px 5px;*/
}
.item-detalle input {
	margin: 5px !important;
}

.add-btn {
	top: 10px;
}

.ocultar{
	display: none;
}