{% load i18n admin_static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>En Alianza</title>

    {% load staticfiles %}


    <!-- Bootstrap Core CSS -->
    <link href="{% static "startbootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "startbootstrap/css/sb-admin.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "startbootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet"
          type="text/css">

    <link href="{% static "startbootstrap/css/jquery-ui.css" %}" rel="stylesheet"
          type="text/css">

    <link href="{% static "jquery-dataTables-editable/css/base/jquery-ui.css" %}" rel="stylesheet"
          type="text/css">

    <link href="{% static "chosen/chosen.css" %}" rel="stylesheet"
          type="text/css">

    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">
    <link href="{% static "select2/select2.min.css" %}" rel="stylesheet"/>
    <style>
        .span-listado {
            width: 100% !important;
            display: block !important;
        }

        /*img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
        }*/

        .select2-container .select2-selection--single {
            border: 1px solid #ccc !important;
            height: 34px !important;
        }

        .select2-container {
            width: 100% !important;
            padding: 0;
        }

        .thumbnail {
            border: 0px !important;
        }

    </style>
    <link rel="stylesheet" type="text/css"
          href="{% static "bootstrap-duallistbox-master/src/bootstrap-duallistbox.css" %}">


    {% block header_resources %}
    {% endblock %}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'frontend_home' %}">
                <img src="{% static "img/logo.png" %}" width="100" height="55" alt="">
            </a>
        </div>

        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-user"></i> Bienvenido,
                    <strong>{% filter force_escape %}
                        {% firstof user.get_short_name user.get_username user.first_name user.username %}{% endfilter %}</strong>
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if user.has_usable_password %}
                        <li><a href="{% url 'admin:password_change' %}"> <i
                                class="fa fa-edit fa-fw"> </i>Cambiar contraseña</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'frontend_logout' %}"><i class="fa fa-sign-out fa-fw"> </i> Salir</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
            <ul class="nav navbar-nav side-nav" id="ul_menu">
                <li id="1" class="li_menu">
                    <a href="{% url 'frontend_home' %}"><i class="fa fa-fw fa-home"></i> Dashboard</a>
                </li>
                <li id="2" class="li_menu">
                    <a href="{% url 'frontend_home' %}admin/auth/user/"><i class="fa fa-fw fa-cog"></i>
                        Configuración</a>
                </li>
                <li id="3" class="li_menu">
                    <a href="{% url 'frontend_listado_docente' %}"><i class="fa fa-fw fa-user"></i> Docentes</a>
                </li>
                <li id="3" class="li_menu">
                    <a href="{% url 'frontend_log_session_docente_listado' %}"><i class="fa fa-fw fa-user"></i> Informe</a>
                </li>
                <li id="14" class="li_menu">
                    <a href="{% url 'frontend_listado_recurso_docente' %}"><i class="fa fa-fw fa-list"></i> Recurso
                        Docente</a>
                </li>
                <li id="5" class="li_menu">
                    <a href="{% url 'frontend_listado_categoria' %}"><i class="fa fa-fw fa-folder-open"></i> Categorías</a>
                </li>
                <li id="15" class="li_menu">
                    <a href="{% url 'frontend_listado_plan_lector' %}"><i class="fa fa-fw fa-folder-open"></i> Plan
                        Lector</a>
                </li>
                <li id="8" class="li_menu">
                    <a href="{% url 'frontend_listado_serie' %}"><i class="fa fa-fw fa-folder-open"></i> Series</a>
                </li>
                <li id="6" class="li_menu">
                    <a href="{% url 'frontend_admin_item' %}"><i class="fa fa-fw fa-book"></i>
                        Admin Item</a>
                </li>
                <li id="10" class="li_menu">
                    <a href="{% url 'frontend_admin_texto_escolar' %}"><i class="fa fa-fw fa-cog"></i>
                        Admin Texto Escolar</a>
                </li>
                <li id="11" class="li_menu">
                    <a href="{% url 'frontend_listado_pdv' %}"><i class="fa fa-fw fa-map-marker"></i>
                        Donde comprar?</a>
                </li>
                <li id="7" class="li_menu">
                    <a href="{% url 'frontend_listado_novedad' %}"><i class="fa fa-fw fa-folder-open"></i>
                        Novedades</a>
                </li>
                <li id="12" class="li_menu">
                    <a href="{% url 'frontend_listado_curso_taller' %}"><i class="fa fa-fw fa-file-text-o"></i>
                        Cursos y Talleres</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div id="alert_request" class="alert alert-danger alert-dismissable"
                         style="margin-top: 15px; margin-bottom: 0px; margin-left: 5px; position: fixed; top: 10px; right: 10px; width: 300px; z-index: 50000;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
                        <p id="error_text">{{ message }}</p>
                    </div>
                {% else %}
                    <div id="alert_request" class="alert alert-success alert-dismissable"
                         style="margin-top: 15px; margin-bottom: 0px; margin-left: 5px; position: fixed; top: 10px; right: 10px; width: 300px; z-index: 50000;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;</button>
                        <p id="error_text">{{ message }}</p>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}

        <div id="mensaje_global_contenedor" class="alert alert-success alert-dismissable"
             style="margin-top: 15px; margin-bottom: 0px; margin-left: 5px; display: none; position: fixed; top: 10px; right: 10px; width: 300px; z-index: 50000;">
            <button type="button" class="close" aria-hidden="true"> &times;</button>
            <p id="mensaje_global_text"> mensaje de error</p>
        </div>


        {% block content %}
        {% endblock %}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{% static "startbootstrap/js/jquery.js" %}" type="text/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "startbootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/base.js" %}" type="text/javascript"></script>
<script src="{% static "chosen/chosen.jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "bootstrap-duallistbox-master/src/jquery.bootstrap-duallistbox.js" %}"></script>
<script src="{% static "select2/select2.min.js" %}"></script>

{% block header_scripts %}
{% endblock %}
</body>

</html>
