{% block header_scripts %}
    {% load new_filter %}
{% endblock %}
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div id="dataTable_info" class="dataTables_info" role="status"
             aria-live="polite">{{ pagination | pagination_data:object_list }}</div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div id="div_pagination">
            {% if pagination.has_other_pages %}
                <div class="text-center dataTables_paginate">
                    <ul class="pagination">
                        {% if pagination.has_previous %}
                            <li class="paginate_button page-item">
                                <a class="page-link"
                                   href="{{ query_params }}&page={{ pagination.previous_page_number }}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="paginate_button page-item disabled"><a class="page-link">&laquo;</a></li>
                        {% endif %}
                        {% for i in pagination.range %}
                            {% if pagination.page == i %}
                                <li class="paginate_button page-item active"><a class="page-link">{{ i }} </a></li>
                            {% else %}
                                <li class="paginate_button page-item">
                                    <a class="page-link" href="{{ query_params }}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if pagination.has_next %}
                            <li class="paginate_button page-item">
                                <a class="page-link"
                                   href="{{ query_params }}&page={{ pagination.next_page_number }}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="paginate_button page-item disabled"><a class="page-link">&raquo;</a></li>
                        {% endif %}
                        <li class="paginate_button page-item"><select id="row_per_page" class="form-control"
                                                                      style="display: inline;width: auto;">
                            {% if pagination.row_per_page == 20 %}
                                <option selected href="{{ query_params }}&page=1&row_per_page=20">20</option>
                                <option href="?page=1&row_per_page=50">50</option>
                                <option href="{{ query_params }}&page=1&row_per_page=100">100</option>
                            {% elif pagination.row_per_page == 50 %}
                                <option href="?page=1&row_per_page=20">20</option>
                                <option selected href="?&page=1&row_per_page=50">50</option>
                                <option href="?page=1&row_per_page=100">100</option>
                            {% elif pagination.row_per_page == 100 %}
                                <option href="?page=1&row_per_page=20">20</option>
                                <option href="?page=1&row_per_page=50">50</option>
                                <option selected href="?page=1&row_per_page=100">100</option>
                            {% else %}
                                <option selected
                                        href="?page=1&row_per_page={{ pagination.row_per_page }}">{{ pagination.row_per_page }}</option>
                                <option href="?page=1&row_per_page=20">20</option>
                                <option href="?page=1&row_per_page=50">50</option>
                                <option href="?page=1&row_per_page=100">100</option>
                            {% endif %}
                        </select></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

