{% extends "base.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}
    <link href="{% static "plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" %}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{% static "plugins/bower_components/toast-master/css/jquery.toast.css" %}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{% static "plugins/bower_components/morrisjs/morris.css" %}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{% static "plugins/bower_components/toast-master/css/jquery.toast.css" %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static "plugins/bower_components/chartist-js/dist/chartist.min.css" %}" rel="stylesheet">
    <link href="{% static "plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" %}"
          rel="stylesheet">

{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid menu-vertical">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Cuadro de Mando</h4></div>
            </div>
            <div class="dashboard">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box recep analytics-info">
                            <h3 class="box-title">Recepcion Vehiculos</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="fa fa-car text-blue"></i> <span
                                        class="counter text-blue">{{ vehiculos_totales }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Vehiculos Entregados</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="fa fa-taxi text-success"></i> <span
                                        class="counter text-success">{{ vehiculos_entregados }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">VEHICULOS Pendientes</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash3"></div>
                                </li>
                                <li class="text-right"><i class="fa fa-bus text-danger"></i> <span
                                        class="counter text-danger">{{ vehiculos_pendientes }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">

                            <h3 class="box-title">Recepción de Vehículos Recientes</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Código Recepción</th>
                                            <th>Fecha de Recepción</th>
                                            <th>Chapa</th>
                                            <th>Marca</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ob in object_list %}
                                        <tr>
                                            <td>{{ ob.codigo_recepcion }}</td>
                                            <td>{{ ob.fecha_recepcion }}</td>
                                            <td>{{ ob.chapa }}</td>
                                            <td>{{ ob.marca }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2018 &copy; Lourdes Escurra</footer>
    </div>
{% endblock %}