{% extends 'base.html' %}
{% block content %}
{#    <ol class="breadcrumb">#}
{#        <li class="breadcrumb-item">#}
{#            <a href="{% url 'frontend_home' %}" title="Inicio"><i class="fa fa-fw fa-home"></i></a>#}
{#        </li>#}
{#        <li class="breadcrumb-item">#}
{#            <a href="{% url 'frontend_admin_item' %}">Admin Item</a>#}
{#        </li>#}
{#        <li class="breadcrumb-item">#}
{#            <a href="{% url 'frontend_listado_autor' %}">Listado Autores</a>#}
{#        </li>#}
{#        <li class="breadcrumb-item active">{{ object_list.nombre }}</li>#}
{#    </ol>#}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">CLIENTE</h4> </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
            <form action="{% url 'frontend_home' %}clientes/detalle/{{ object_list.id }}/" method="post">
                <table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                        <tr>
                            <td><strong>{{ field.label_tag }}</strong></td>
                            <td class="noimage vTextField">{{ field }}</td>
                        </tr>
                    {% endfor %}
	            </table>
                <BR>
                <div class="pull-right">
                    {%if perms.clientes.change_cliente and perms.clientes.delete_cliente %}
                        <input class="btn btn-primary default" type="submit" name="boton_guardar"
                           value="Guardar Cambios"/>
                         <input class="btn btn-danger default" type="submit" name="boton_borrar"
                           value="Borrar este Registro"/>
                    {% elif perms.clientes.delete_cliente %}
                         <input class="btn btn-primary default" type="submit" name="boton_guardar"
                           value="Guardar Cambios" disabled/>
                        <input class="btn btn-danger default" type="submit" name="boton_borrar"
                           value="Borrar este Registro"/>
                    {% elif perms.clientes.change_cliente %}
                        <input class="btn btn-primary default" type="submit" name="boton_guardar"
                           value="Guardar Cambios"/>
                         <input class="btn btn-danger default" type="submit" name="boton_borrar"
                           value="Borrar este Registro" disabled/>
                     {% else %}
                         <input class="btn btn-primary default" type="submit" name="boton_guardar"
                           value="Guardar Cambios" disabled/>
                         <input class="btn btn-danger default" type="submit" name="boton_borrar"
                           value="Borrar este Registro" disabled/>
                    {%endif%}
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}