{% extends "base.html" %}
{% block header_scripts %}
    {% load staticfiles %}
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="{% static "js/facturas/agregarfc.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="page-title" style="color:#fff;">MOVIMIENTO</h4>
                        </div>
                        <div class="panel-body">
                            {% csrf_token %}
                                <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_movimiento">Tipo de Movimiento:</label>
                                    <div>
                                        <select id="tipo_movimiento" name=tipo_movimiento">
                                          <option value="COMPRA">COMPRA</option>
                                          <option value="VENTA">VENTA</option>
                                        </select>
                                    </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha">Fecha de Emisión:</label>
                                    <div><input type="date" id="fecha" name="fecha"></div>
                                </div>
                            </div>
                            <input type="hidden" id="fecha_oc" name="fecha_oc" value="{{ fecha_pedido }}">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_factura">Numero Factura:</label>
                                    <div><input type="text" id="numero_factura" name="numero_factura" required></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="timbrado">Número de Timbrado:</label>
                                    <div><input type="text" id="timbrado" name="timbrado" required></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha_ini_timbrado">Fecha de Inicio de Vigencia:</label>
                                    <div><input type="date" id="fecha_ini_timbrado" name="fecha_ini_timbrado" required></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha_fin_timbrado">Fecha de Fin de Vigencia:</label>
                                    <div><input type="date" id="fecha_fin_timbrado" name="fecha_fin_timbrado" required></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                <div class="form-group">
                                    <label for="prov_client">Proveedor</label>
                                    <div>
                                        <select id="id_prov_client_select" name="id_prov_client_select" class="form-control">
                                            {% if cabecera_oc.proveedor != None %}
                                                <option value="{{ cabecera_oc.proveedor.id }}"
                                                        selected> {{ cabecera_oc.proveedor.nombres }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="prov_client_dir">Dirección:</label>
                                        <div><span>{{ cabecera_oc.proveedor.direccion }}</span></div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="prov_client_ruc">Ruc:</label>
                                        <div><span>{{ cabecera_oc.proveedor.ruc }}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_oc">Número Orden de Compra:</label>
                                    <div><input type="text" id="numero_oc" disabled name="numero-oc" value="{{ cabecera_oc.id }}"></div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="condicion_compra">Condición de Compra:</label>
                                        <div>
                                            <select id="condicion_compra" name="condicion_compra">
                                              <option value="CONTADO">CONTADO</option>
                                              <option value="CREDITO">CREDITO</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 fecha_vencimiento ocultar">
                                    <div class="form-group">
                                        <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                                        <div><input type="date" id="fecha_vencimiento" name="fecha_vencimiento"></div>
                                    </div>
                                </div>
                                <div class="col-md-4 cantidad_cuotas ocultar" >
                                    <div class="form-group">
                                        <label for="numero_pre">Plazo en Dias:</label>
                                        <div><input type="number" id="cantidad_cuotas" name="cantidad_cuotas" required></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center" class="detalles_factura">
                                    <thead>
                                        <th>ID</th>
                                        <th>CANT.</th>
                                        <th>DESCRIPCION</th>
                                        <th>PRECIO UNIT.</th>
                                        <th>EXENTAS</th>
                                        <th>5%</th>
                                        <th>10%</th>
                                    </thead>
                                    <tbody>
                                        {% for detalle in detalles_oc %}
                                            <tr class="data">
                                                <td>{{ detalle.id }}</td>
                                                <td><input type="number" class= "cantidad-item" id="id_cantidad_{{ detalle.id }}" data-id="{{ detalle.id }}" value="{{ detalle.cantidad }}" disabled></td>
                                                <td>{{ detalle.producto.descripcion }}</td>
                                                <td><input type="text" class="precio_uni" id="id_precio_{{ detalle.id }}" data-id="{{ detalle.id }}" value="{{ detalle.monto }}" onkeyup="formatearNumeros(this)" onchange="formatearNumeros(this)" disabled></td>
                                                <td><input type="text" class="exentas" id="id_exentas_{{ detalle.id }}" data-id="{{ detalle.id }}" disabled></td>
                                                <td><input type="text" class="iva_5" id="id_iva5_{{ detalle.id }}" data-id="{{ detalle.id }}" disabled></td>
                                                <td><input type="text" class="iva_10" id="id_iva10_{{ detalle.id }}" data-id="{{ detalle.id }}" disabled></td>
                                                <td><input type="hidden" class="tipo_impuesto" id="id_impuesto_{{ detalle.id }}" data-id="{{ detalle.id }}" value="{{ detalle.producto.tipo_impuesto }}" disabled></td>
                                                <td><input type="hidden" class="id_producto" id="id_producto{{ detalle.id }}" data-id="{{ detalle.id }}" value="{{ detalle.producto.id }}" disabled></td>
                                            </tr>
                                        {% endfor %}
                                            <tr rowspan="3"></tr>
                                            <tr>
                                                <td colspan="3">SUB TOTAL:</td>
                                                <td></td>
                                                <td><input disabled class="sub_exentas"></td>
                                                <td><input disabled class="sub_iva5"></td>
                                                <td><input disabled class="sub_iva10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">LIQUIDACION IVA:</td>
                                                <td>(5%):</td>
                                                <td><input disabled class="total_iva5"></td>
                                                <td>(10%):</td>
                                                <td><input disabled class="total_iva10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5"></td>
                                                <td>TOTAL IVA:</td>
                                                <td><input disabled class="total_iva"></td>
                                            </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <input name="" type="button" value="Guardar" id="guardar" class="btn btn-primary default guardar"
                           style=" margin-bottom: 10px; cursor: pointer;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="card-footer small text-muted"></div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2018 &copy; Lourdes Escurra </footer>
    </div>
{% endblock %}