{% extends 'base.html' %}
{% block header_scripts %}
    {% load static %}
    {% load staticfiles %}
    {% load humanize %}
    <!--script src="{% static "js/compras/listado.js" %}" type="text/javascript"></script-->
    <script type="text/javascript">
        var id_menu = "6";
    </script>
{% endblock %}
{% block content %}
    <div id="page-wrapper">
         <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="page-title">LISTADO FACTURA VENTAS</h4>
                    </div>
                </div>
            </div>
             <div class="row">
                 <div class="col-lg-12">
                     <form action="{% url 'factura_venta_listado' %}" method="get">
                         <div class="col-lg-4">
                              <label class="form-control">Fecha:</label>
                              <input type="date" class="form-control" name="fecha" value="{{ filtros.fecha }}">
                         </div>
                         <div class="col-lg-4">
                              <label class="form-control">Proveedor:</label>
                              <select id="id_cliente_select" name="cliente_select" class="form-control" value="{{ filtros.cliente }}" ></select>
                         </div>
                         <div class="col-lg-4">
                              <label class="form-control">Estado:</label>
                              <select id="id_estado" name="estado" class="form-control" value="{{ filtros.estado }}">
                                  <option></option>
                                  <option value="PENDIENTE">PENDIENTE</option>
                                  <option value="COMPLETADO">COMPLETADO</option>
                              </select>
                         </div>

                         <div class="col-lg-4">
                             <div class="form-group pull-right">
                                    <!--a class="btn btn-sm btn-primary" href="{% url 'factura_venta_listado' %}"><span class="glyphicon glyphicon-search"></span> Buscar</a-->
                                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i><span class="input-group-btn">Buscar</span></button>
                             </div>
                        </div>
                    </form>
                 </div>
             </div>
            <div class="row" style="padding: 15px">
                <!--div class="col-lg-offset-4">
                     <div class="form-group pull-right">
                            <a class="btn btn-sm btn-primary" href="{% url 'oc_agregar' %}"><span class="glyphicon glyphicon-plus"></span> AGREGAR NUEVO</a>
                     </div>
                </div-->
            </div>
            <div class="table-responsive">
                <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table dataTable" id="dataTable" width="100%" cellspacing="0"
                               role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th width="8%">Id</th>
                                    <th width="10%">Fecha de Emisión</th>
                                    <th width="10%">Número Factura</th>
                                    <th width="10%">Tipo Factura</th>
                                    <th width="10%">Estado</th>
                                    <th width="10%">Monto Total</th>
                                    <th width="10%">Saldo</th>
                                    <th width="10%">Cliente</th>
                                    <th width="10%">Id Presupuesto</th>
                                    <th width="10%">Acciones</th>
                                </tr>
                                </thead>
                            <tbody>
                            {% for ob in object_list %}
                                <tr>
                                    <td>{{ ob.id }}</td>
                                    <td>{{ ob.fecha_emision }}</td>
                                    <td>{{ ob.numero_factura }}</td>
                                    <td>{{ ob.tipo_factura }}</td>
                                    <td>{{ ob.estado }}</td>
                                    <td>{{ ob.monto_total }}</td>
                                    <td>{{ ob.saldo }}</td>
                                    <td>{{ ob.nombres }}</td>
                                    <td>{{ ob.presupuesto_id }}</td>
                                    <td><center>
                                        <form id="form_add_oc" action="{% url 'eliminar_oc' %}" method="post">
                                            {% csrf_token %}
                                            {%if ob.saldo > 0 %}
                                                <a class="btn btn-sm btn-warning" href="{% url 'frontend_home' %}facturas/cobrar_factura/{{ ob.id }}"><span class="glyphicon glyphicon-edit"></span> Cobrar</a>
                                            {%endif%}

                                        </form>
                                    </center></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                     </div>
{#                {% include "frontend/paginacion.html" %}#}
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
{% endblock %}