<style type="text/css">
    .pale {
        background-color: #fafafa;
        background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
        background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
        background-image: -o-linear-gradient(top,#fff,#f2f2f2);
        background-image: linear-gradient(to bottom,#fff,#f2f2f2);
        background-repeat: repeat-x;
        border: 1px solid #d4d4d4;
    }
    .pale .brand {
        color: #777;
        text-shadow: 0 1px 0 #fff;
    }
</style>
